* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url("../imagens/fundo.png") repeat-x;
}

#container {
    width: 720px;
    margin: 0 auto;
    
}

#topo {
    height: 150px;
    background: url("../imagens/detalhe-topo.png") no-repeat right top;
    border: 1px solid red;
}

.logo {
    width: 152px;
    height: 66px;
    background: url("../imagens/logo.png") no-repeat;
    font-size: 0;
}